html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
}

.display-weather {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #4b3737;
  border-radius: 20px;
  text-align: center;
}

